@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Arial", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Arial", sans-serif;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 940px;
  margin: 0 auto;
}

header {
  background: -o-linear-gradient(top, #fff 50px, #b7b7b7 50px, #eeee 70%);
  background: linear-gradient(to bottom, #fff 50px, #b7b7b7 50px, #eeee 70%);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__container .header_up__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container .header_up__container .header__logo {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #b7b7b7), color-stop(90%, #eeee));
  background: -o-linear-gradient(top, #b7b7b7 25%, #eeee 90%);
  background: linear-gradient(to bottom, #b7b7b7 25%, #eeee 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-radius: 70%;
  padding: 15px 20px;
  width: 400px;
  margin-top: 20px;
}

.header__container .header_up__container .header__logo .header__logo_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 70%;
  width: 90%;
  background-color: #969696;
  padding: 20px;
}

.header__container .header_up__container .header__logo .header__logo_wrap img {
  width: 100%;
  height: auto;
}

.header__container .header_up__container .header_side_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__container .header_up__container .header_side_container .lang__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
  background: #fff;
}

.header__container .header_up__container .header_side_container .lang__container .lang__item {
  margin-right: 3px;
}

.header__container .header_up__container .header_side_container .lang__container .lang__item a {
  width: 100%;
  height: 100%;
  padding: 7px 9px;
  color: #3b3b3b;
  background: rgba(95, 95, 95, 0.05);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.header__container .header_up__container .header_side_container .lang__container .lang__item:hover {
  cursor: pointer;
}

.header__container .header_up__container .header_side_container .lang__container .lang__item._active a {
  background: #5f5f5f;
  color: #fff;
}

.header__container .header_up__container .side_menu__container {
  width: 100%;
  padding: 10px 0 0 25px;
}

.header__container .header_up__container .side_menu__container .side_menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.header__container .header_up__container .side_menu__container .side_menu__list li {
  width: 30%;
  padding: 8px 0;
  list-style: url("../img/upper_nav_ico.png");
}

.header__container .header_up__container .side_menu__container .side_menu__list .side_menu__link {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  font-family: "Roboto", sans-serif;
}

.header__container .header_up__container .side_menu__container .side_menu__list .side_menu__link:hover {
  color: #006c86;
}

.header__container .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container .header__menu .header__name {
  display: none;
}

.header__container .header__menu .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header__container .header__menu .menu__body .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
}

.header__container .header__menu .menu__body .menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__menu .menu__body .menu__list li:last-child .menu__link {
  border: none;
}

.header__container .header__menu .menu__body .menu__list .menu__link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #616161;
  border-right: 1px solid #474549;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.header__container .header__menu .menu__body .menu__list .menu__link:hover {
  cursor: pointer;
  background: #a9a9a9;
}

footer {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #b7b7b7), color-stop(90%, #eeee));
  background: -o-linear-gradient(bottom, #b7b7b7 25%, #eeee 90%);
  background: linear-gradient(to top, #b7b7b7 25%, #eeee 90%);
}

footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  background-color: #727272;
  padding: 10px 20px 18px;
  margin-bottom: 168px;
  border-radius: 10px;
}

footer .footer__container .footer__title {
  width: 100%;
}

footer .footer__container .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 10px 0;
}

footer .footer__container .footer__item:nth-child(n+5) {
  background-color: #cccccc;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cccccc;
}

.form__container .form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 15px 20px 34px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.form__container .form__section fieldset {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__container .form__section fieldset legend {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #343434;
}

.form__container .form__section fieldset .input__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 47%;
}

.form__container .form__section fieldset .input__group.first__input {
  width: 100%;
}

.form__container .form__section fieldset .input__group input {
  width: 100%;
  border: 2.1px solid #6f6f6f;
  height: 33px;
}

.form__container .form__section fieldset .input__group label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #343434;
  margin: 10px 0;
}

.form__container .form__section .submit__btn {
  margin: 13px 0 0;
  background-color: #006c86;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 67px;
  color: #fff;
  text-transform: uppercase;
}

.form__container .text__section {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.form__container .text__section .text__container {
  width: 100%;
  max-width: 294px;
  margin-left: auto;
  background-color: #ededed;
  -webkit-box-shadow: 1px 2px 4px 0 rgba(1, 1, 1, 0.25);
          box-shadow: 1px 2px 4px 0 rgba(1, 1, 1, 0.25);
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__container .text__section .text__container p:first-child {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.form__container .text__section .text__container p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #333333;
  margin-top: 20px;
}

.form__container .text__section .text__container .text__btn {
  margin: 7px auto 0;
  background-color: #006c86;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 6px;
}

.form__container .text__section .text__container .text__btn .btn__link {
  padding: 10px 67px;
  color: #fff;
  text-transform: uppercase;
}

.post__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 38px;
  background-color: #eeeeee;
}

.post__container .post__item {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.post__container .post__item .post__img {
  width: 100%;
}

.post__container .post__item .post__img img {
  width: 100%;
  max-height: 170px;
}

.post__container .post__item .post__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 20px 20px 0;
}

.post__container .post__item .post__description {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin: 14px 20px 17px;
}

.images__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding-bottom: 42px;
}

.images__container .images__item {
  width: 15%;
  background-color: #6f6f6f;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images__container .images__btn {
  display: none;
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 952px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .header__container .header_up__container {
    padding-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__container .header_up__container .header__logo {
    width: 100%;
    border-radius: 0;
    padding: 0;
  }

  .header__container .header_up__container .header__logo .header__logo_wrap {
    border-radius: 0;
    width: 100%;
  }

  .header__container .header_up__container .header_side_container .lang__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__container .header_up__container .header_side_container .side_menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .header__container .header_up__container .header_side_container .side_menu__container .side_menu__list li {
    width: 100%;
  }

  .header__container .header__menu {
    margin-left: 0;
    margin-top: 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    background-color: #616161;
    padding: 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__container .header__menu .header__name {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 0.75;
    font-weight: 700;
    margin-left: 20px;
    display: block;
  }

  .header__container .header__menu .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header__container .header__menu .menu__icon span,
  .header__container .header__menu .menu__icon::before,
  .header__container .header__menu .menu__icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .header__container .header__menu .menu__icon::before,
  .header__container .header__menu .menu__icon::after {
    content: "";
  }

  .header__container .header__menu .menu__icon::before {
    top: 0;
  }

  .header__container .header__menu .menu__icon::after {
    bottom: 0;
  }

  .header__container .header__menu .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .header__container .header__menu .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .header__container .header__menu .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .header__container .header__menu .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .header__container .header__menu .menu__body {
    position: fixed;
    top: 0;
    left: 120%;
    width: 100%;
    height: 100%;
    background-color: #616161;
    padding: 50px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .header__container .header__menu .menu__body .close__icon {
    z-index: 10;
    position: fixed;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header__container .header__menu .menu__body .close__icon span,
  .header__container .header__menu .menu__body .close__icon::before,
  .header__container .header__menu .menu__body .close__icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .header__container .header__menu .menu__body .close__icon::before,
  .header__container .header__menu .menu__body .close__icon::after {
    content: "";
  }

  .header__container .header__menu .menu__body .close__icon::before {
    top: 0;
  }

  .header__container .header__menu .menu__body .close__icon::after {
    bottom: 0;
  }

  .header__container .header__menu .menu__body .close__icon span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .header__container .header__menu .menu__body .close__icon::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .header__container .header__menu .menu__body .close__icon::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .header__container .header__menu .menu__body._active {
    left: 0;
  }

  .header__container .header__menu .menu__body._active .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__container .header__menu .menu__body._active .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }

  .header__container .header__menu .menu__body._active .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .header__container .header__menu .menu__body._active .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .header__container .header__menu .menu__body._active .menu__link {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    border-right: none;
    line-height: 1;
  }

  footer .footer__container .footer__item {
    width: 100%;
  }

  ._container {
    margin: 0 20px;
    padding: 0;
  }

  .form__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: transparent;
    padding-top: 20px;
  }

  .form__container .form__section {
    width: 100%;
  }

  .form__container .form__section fieldset {
    max-width: 766px;
  }

  .form__container .text__section {
    width: 100%;
    padding: 0;
  }

  .form__container .text__section .text__container {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    max-width: 766px;
  }

  .form__container .text__section .text__container .text__btn {
    margin: 7px auto 0 0;
  }

  .post__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .post__container .post__item {
    width: 100%;
    margin-top: 20px;
  }

  .post__container .post__item .post__img img {
    max-height: 300px;
  }

  .images__container {
    padding-top: 20px;
  }

  .images__container .images__item {
    width: 48%;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .images__container .images__item:nth-child(n+5) {
    display: none;
  }

  .images__container .images__item:nth-child(n+5)._active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .images__container .images__btn {
    margin: 20px auto 20px;
    text-transform: uppercase;
    color: #3b5998;
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: block;
  }
}